<div class="story-body">
  <p>When President Trump kicked off his campaign in 2015, he pledged to put America first.
    Based on where he's traveled since he's taken office, we see he took that message literally. 
  </p>
  <!-- If you use images, the path is just images/___ -->
  {{!-- <p style="text-align: center"><img src="images/cat.jpg"></p> --}}
</div>