<div class="story-body">
  <p>When President Donald Trump kicked off his campaign in 2015, he pledged to put America first.
    Based on where he's traveled since he's taken office, we see he took that message literally.
    Trump frequently travels to cities throughout the United States but has had fewer trips abroad.
  </p>

  <p>Part of the reason may be because he doesn't like to sleep anywhere <a href="https://apnews.com/8b2155ea907b4cfd857ed4e7a7fb5b6f">but his own bed.</a>  
    Throughout his presidency, he often returns to one of his residences in New York, Washington or Florida after holding a Make America Great Again rally.
  </p>
  <!-- If you use images, the path is just images/___ -->
  {{!-- <p style="text-align: center"><img src="images/cat.jpg"></p> --}}
</div>