<div class="story-body scrollytelling">
    <h2>Making America Great Again</h2>
    {{!-- <p>I have the <code>script</code> tag that points to <code>chart-01.js</code> inside of this partial</p> --}}
    <div id="chart-1" class="chart"></div>
    <div class="steps">
        <div class='step' id='reset-step'>
            From February 2017 to November 2019, President Trump has held 72 MAGA rallies across the U.S.
        </div>
        <div class='step' id='popularity-step'>
            <p>According to data obtained from Morning Consult, President Trump prefers to visit states where he's popular.
            He's held rallies in 44 states that viewed him <span class='colored-text label_pos'>positively</span> at the time of his visit, versus 25 that viewed him <span class='colored-text label_neg'>negatively.</span>
            </p>
        </div>
    </div>
</div>


<script src="scripts/chart-01.js"></script>

<div class="story-body">
    <h2>Bar chart -- States visited the most</h2>
    <p>I have the <code>script</code> tag that points to <code>chart-02.js</code> inside of this partial</p>
    {{!-- <div id="chart-2"></div> --}}
    <iframe title="Southern Comfort" aria-label="Bar Chart" id="datawrapper-chart-4oX1d"
        src="//datawrapper.dwcdn.net/4oX1d/1/" scrolling="no" frameborder="0"
        style="width: 0; min-width: 100% !important; border: none;" height="193"></iframe>
    <script
        type="text/javascript">!function () { "use strict"; window.addEventListener("message", function (a) { if (void 0 !== a.data["datawrapper-height"]) for (var e in a.data["datawrapper-height"]) { var t = document.getElementById("datawrapper-chart-" + e) || document.querySelector("iframe[src*='" + e + "']"); t && (t.style.height = a.data["datawrapper-height"][e] + "px") } }) }();</script>

</div>


<div class="story-body">
    <h2>Trump visits abroad map</h2>
    <p>I have the <code>script</code> tag that points to <code>chart-03.js</code> inside of this partial</p>
    <div id="chart-3"></div>
</div>

<script src="scripts/chart-03.js"></script>

<div class="story-body">
    <h2>This is how many days Bush, Obama and Trump spent abroad </h2>
    <p>I have the <code>script</code> tag that points to <code>chart-04.js</code> inside of this partial</p>
<iframe title="During the first 2,5 years in the office, Trump has traveled the least" aria-label="Bar Chart" id="datawrapper-chart-RQzQi" src="//datawrapper.dwcdn.net/RQzQi/2/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="186"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}})}();</script></div>

<div class="story-body">
    <h2>Line Chart -- International visits of Bush, Obama and Trump</h2>
    <p>I have the <code>script</code> tag that points to <code>chart-05.js</code> inside of this partial</p>
    <div id="chart-5"></div>
</div>

<script src="scripts/chart-05.js"></script>